.nav {
  border-bottom: 1px solid var(--bg-c-salmon-pink);
  border-top: 1px solid var(--bg-c-salmon-pink);
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.logo {
  border-right: 1px solid var(--bg-c-salmon-pink);
  padding: 0 3rem;
}

.menu {
  border-left: 1px solid var(--bg-c-salmon-pink);
  padding: 0 1rem;
}

.logo,
.menu {
  align-items: center;
  display: flex;
  height: 100%;
}
