@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Fasthand&family=Inter&family=Koulen&family=Syne:wght@500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary colors */
  --bg-c-light-pink: #f9dcd7;
  --bg-c-salmon-pink: #febaaf;
  --bg-c-dark-pink: #FE9F8E;
  --c-blue: #1964f6;
  --c-red: #f15a5a;
  --c-gray: #6c6c6c;

  /* Font styles */
  --font-heading: 'Koulen', sans-serif;
  --font-subheading: 'Syne', sans-serif;
  --font-body-copy: 'EB Garamond', serif;
  --font-handwriting: 'Fasthand', cursive;

  /* Font sizes */
  --fs-heading: 8rem;
  --fs-subheading: 1rem;
  --fs-paragraph-L: 3rem;
  --fs-paragraph-M: 1.2rem;
  --fs-paragraph-S: 0.76rem;
  --fs-paragraph-XS: 0.5rem;
}

body {
  background-color: var(--bg-c-light-pink);
  color: var(--c-blue);
}

h1 {
  font-family: var(--font-heading);
  font-size: var(--fs-heading);
  font-weight: lighter;
  line-height: 7rem;
}

h2 {
  font-family: var(--font-subheading);
  font-size: var(--fs-subheading);
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-family: var(--font-handwriting);
  font-size: var(--fs-paragraph-L);
  color: var(--c-red);
}

p {
  font-family: var(--font-body-copy);
  font-size: var(--fs-paragraph-M);
}

span {
  font-family: var(--font-subheading);
  font-size: var(--fs-paragraph-L);
}

button {
  background-color: transparent;
  border-style: none;
  color: var(--c-blue);
  font-family: var(--font-subheading);
  font-size: var(--fs-paragraph-M);
  font-weight: 600;
  line-height: 0.4rem;
  text-decoration: underline;
  text-transform: uppercase;
}

button:hover {
  color: var(--c-red);
  cursor: pointer;
}

select {
  background-color: transparent;
  border-style: none;
  color: var(--c-blue);
  font-family: var(--font-subheading);
  font-size: var(--fs-paragraph-M);
  margin-left: -0.2rem;
}

select:focus {
  outline: none;
}

label {
  color: var(--c-gray);
  font-family: var(--font-ingress);
  font-size: var(--fs-paragraph-XS);
  font-weight: 700;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
}

input {
  background-color: transparent;
  border: none;
  width: 100%;
}

input::placeholder {
  color: var(--c-gray);
  font-family: var(--font-subheading);
  font-size: var(--fs-subheading);
  opacity: 0.7;
}

input[type='text'] {
  color: var(--c-blue);
  font-family: var(--font-subheading);
  font-size: var(--fs-subheading);
}

input[type='text']:focus {
  outline: none;
}

.custom-link a {
  color: var(--c-blue);
  text-decoration: none;
}

.custom-link a:hover {
  color: var(--c-red);
  cursor: pointer;
}
